.participantsSection {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
  align-items: center;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  background-color: var(--light);
  box-shadow: var(--box-shadow);
  border: solid 5px var(--secondary-color);
}

.participantsList {
  list-style: none;
  padding: 0;
  display: flex;
}

.participantsList li {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.participateButton {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
